name: Expo Build
on:
    push:
        branches:
            - main
jobs:
    publish:
        name: Install and publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14.x
            - uses: expo/expo-github-action@v6
              with:
                  expo-version: 4.x
                  token: ${{ secrets.EXPO_TOKEN }}
            - run: npm install
            - run: expo build:android -t apk
